.header {
    display: flex;
}

.flight-search,
.airport-select {
    height: 31px;
    margin: 16px 24px 16px 0;
}

.flight-search {
    width: 250px;
}

.airport-select {
    margin-left: auto;
    width: 160px;
}